# 1- Which team has won/lost maximum number of matches while chasing?

In [2]:
import pandas as pd

In [3]:
matches_df=pd.read_csv("matches.csv")
matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:

query_df=matches_df.query(" toss_winner==winner & toss_decision=='field' | toss_winner!=winner & toss_decision=='bat' ")
winnerNum=query_df['winner'].value_counts().head(1)
winnerNum

Kolkata Knight Riders    58
Name: winner, dtype: int64

# 2- Which toss decision is best for each ground?

In [47]:
data=pd.read_csv("matches.csv")
batting_wins=data[data['winner']==data['team1']]
fielding_wins=data[data['winner']==data['team2']]
grounds=batting_wins['venue'].value_counts().index
for ground in grounds:
    if batting_wins['venue'].value_counts()[ground]>fielding_wins['venue'].value_counts()[ground]:
        print( ground," is best for batting")
        
    else:
        print(ground," is best for fielding")

Wankhede Stadium  is best for fielding
Feroz Shah Kotla  is best for fielding
MA Chidambaram Stadium, Chepauk  is best for batting
Eden Gardens  is best for fielding
M Chinnaswamy Stadium  is best for fielding
Rajiv Gandhi International Stadium, Uppal  is best for fielding
Sawai Mansingh Stadium  is best for fielding
Punjab Cricket Association Stadium, Mohali  is best for fielding
Subrata Roy Sahara Stadium  is best for batting
Kingsmead  is best for batting
Dr DY Patil Sports Academy  is best for fielding
Maharashtra Cricket Association Stadium  is best for fielding
Punjab Cricket Association IS Bindra Stadium, Mohali  is best for fielding
Brabourne Stadium  is best for batting
Sardar Patel Stadium, Motera  is best for fielding
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium  is best for batting
Himachal Pradesh Cricket Association Stadium  is best for batting
Rajiv Gandhi Intl. Cricket Stadium  is best for batting
Newlands  is best for batting
Sheikh Zayed Stadium  is best for batting
M. A. Chidambaram Stadium  is best for fielding
Barabati Stadium  is best for batting
SuperSport Park  is best for fielding
Dubai International Cricket Stadium  is best for fielding
Saurashtra Cricket Association Stadium  is best for fielding
Nehru Stadium  is best for batting
New Wanderers Stadium  is best for fielding
St George's Park  is best for fielding
M. Chinnaswamy Stadium  is best for fielding
Buffalo Park  is best for batting
Vidarbha Cricket Association Stadium, Jamtha  is best for batting
Sharjah Cricket Stadium  is best for fielding
Feroz Shah Kotla Ground  is best for fielding
Shaheed Veer Narayan Singh International Stadium  is best for fielding
IS Bindra Stadium  is best for fielding
JSCA International Stadium Complex  is best for fielding
De Beers Diamond Oval  is best for fielding
OUTsurance Oval  is best for fielding
Holkar Cricket Stadium  is best for fielding

# 3-Which player has won maximum number of MoM awards while chasing ?

In [6]:
query_df['player_of_match'].value_counts().head(1)

YK Pathan    11
Name: player_of_match, dtype: int64

 # 4- Which batsman has played maximum number of dot balls?

In [7]:
deliveries_df=pd.read_csv("deliveries.csv")
deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [8]:
query_df=deliveries_df.query(" total_runs=='0' ")
query_df['batsman'].value_counts().head(1)

V Kohli    1369
Name: batsman, dtype: int64

# 5-Which batsmen came to crease but never got a chance to face a ball?

In [38]:
c=deliveries_df['batsman']
d=deliveries_df[~deliveries_df['non_striker'].isin(c)]
final=d['non_striker']
final

25297             A Nel
25298             A Nel
25299             A Nel
47770       C Ganapathy
47771       C Ganapathy
73812      TP Sudhindra
110217    BW Hilfenhaus
Name: non_striker, dtype: object

# 6-Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [9]:
query_df=deliveries_df.query("total_runs=='1'")
query_df['bowler'].value_counts().head(1)

Harbhajan Singh    1549
Name: bowler, dtype: int64

In [10]:
query_df=deliveries_df.query("total_runs=='2'")
query_df['bowler'].value_counts().head(1)

DJ Bravo    258
Name: bowler, dtype: int64

In [12]:
query_df=deliveries_df.query("total_runs=='3'")
query_df['bowler'].value_counts().head(1)

P Kumar    18
Name: bowler, dtype: int64

In [13]:
query_df=deliveries_df.query("total_runs=='4'")
query_df['bowler'].value_counts().head(1)

UT Yadav    389
Name: bowler, dtype: int64

In [14]:
query_df=deliveries_df.query("total_runs=='6'")
query_df['bowler'].value_counts().head(1)

PP Chawla    171
Name: bowler, dtype: int64

# 7- Which batsman got stumped out maximum number of times?

In [15]:
query_df=deliveries_df.query("dismissal_kind=='stumped'")
query_df['batsman'].value_counts().head(1)

SK Raina    8
Name: batsman, dtype: int64

# 8-Which non-striker has been part of maximum number of runouts?

In [16]:
query_df=deliveries_df.query("dismissal_kind=='run out'")
query_df['non_striker'].value_counts().head(1)

SK Raina    16
Name: non_striker, dtype: int64

# 9-Make at least 5 more new queries and find answers to them.

# 9.1- which team has played maximum super overs while defending?

In [19]:
a=deliveries_df.query("is_super_over=='1'")
b=a["bowling_team"].value_counts()
b

Rajasthan Royals               20
Royal Challengers Bangalore    13
Kolkata Knight Riders          10
Kings XI Punjab                 9
Mumbai Indians                  8
Delhi Daredevils                6
Sunrisers Hyderabad             6
Gujarat Lions                   5
Chennai Super Kings             4
Name: bowling_team, dtype: int64

In [20]:
df1= pd.DataFrame(data=b.index, columns=['defending_team'])
df2 = pd.DataFrame(data=b.values, columns=['super_overs'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     defending_team  super_overs
0  Rajasthan Royals           20

# 9.2- which team has bowled maximum no balls?

In [22]:
a=deliveries_df.query("noball_runs !='0'")
b=a["bowling_team"].value_counts()
b

Mumbai Indians                 105
Kings XI Punjab                 96
Royal Challengers Bangalore     91
Delhi Daredevils                86
Kolkata Knight Riders           77
Rajasthan Royals                68
Chennai Super Kings             59
Deccan Chargers                 49
Sunrisers Hyderabad             30
Pune Warriors                   26
Delhi Capitals                   8
Gujarat Lions                    7
Kochi Tuskers Kerala             7
Rising Pune Supergiants          4
Rising Pune Supergiant           1
Name: bowling_team, dtype: int64

In [23]:
df1= pd.DataFrame(data=b.index, columns=['Team'])
df2 = pd.DataFrame(data=b.values, columns=['NO_BALLS'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

             Team  NO_BALLS
0  Mumbai Indians       105

# 9.3- Which player has caught maximum catches ?

In [24]:
a=deliveries_df["fielder"].value_counts()
a

MS Dhoni                 159
KD Karthik               152
RV Uthappa               125
SK Raina                 115
AB de Villiers           114
PA Patel                  97
RG Sharma                 92
V Kohli                   90
KA Pollard                85
NV Ojha                   82
WP Saha                   82
RA Jadeja                 80
DJ Bravo                  78
MK Pandey                 77
AC Gilchrist              75
S Dhawan                  73
AT Rayudu                 65
DA Warner                 62
AM Rahane                 62
KC Sangakkara             58
SV Samson                 56
DA Miller                 53
YK Pathan                 51
SPD Smith                 51
BB McCullum               50
M Vijay                   49
MK Tiwary                 49
HH Pandya                 48
F du Plessis              47
Harbhajan Singh           46
                        ...
KH Devdhar                 1
JP Duminy (sub)            1
AR Patel (sub)             1
F du Plessis (sub)         1
R Shukla (sub)             1
H Viljoen                  1
Sunny Singh                1
S Dube                     1
NL McCullum                1
B Aparajith (sub)          1
J Syed Mohammad            1
BAW Mendis                 1
S Midhun                   1
R Vinay Kumar (sub)        1
T Curran                   1
A Mukund (sub)             1
Misbah-ul-Haq              1
BB McCullum (sub)          1
K Upadhyay                 1
TS Mills                   1
RG More                    1
MA Agarwal (sub)           1
AN Ghosh                   1
B Laughlin                 1
MD Mishra                  1
WD Parnell (sub)           1
Shivam Sharma              1
UA Birla                   1
KB Arun Karthik (sub)      1
HH Pandya (sub)            1
Name: fielder, Length: 499, dtype: int64

In [25]:
df1= pd.DataFrame(data=a.index, columns=['Player'])
df2 = pd.DataFrame(data=a.values, columns=['NO of catches'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

     Player  NO of catches
0  MS Dhoni            159

# 9.4-Which bowler has took maximum wickets ?

In [26]:
a=deliveries_df.query("player_dismissed != 'NaN' & dismissal_kind != 'run out'")
b=a["bowler"].value_counts()
b

Harbhajan Singh     3440
A Mishra            3163
PP Chawla           3150
R Ashwin            3003
SL Malinga          2956
B Kumar             2699
DJ Bravo            2690
P Kumar             2625
UT Yadav            2588
SP Narine           2585
RA Jadeja           2533
Z Khan              2260
DW Steyn            2199
R Vinay Kumar       2164
SR Watson           2122
IK Pathan           2094
I Sharma            1997
A Nehra             1959
PP Ojha             1935
RP Singh            1864
YS Chahal           1839
DS Kulkarni         1825
JA Morkel           1796
JH Kallis           1790
JJ Bumrah           1789
MM Sharma           1762
AR Patel            1740
M Morkel            1688
R Bhatia            1650
M Muralitharan      1578
                    ...
LRPL Taylor           13
C Munro               12
AA Kazi               12
RR Bhatkal            12
RR Bose               12
Mandeep Singh         12
S Dube                11
FY Fazal              11
Sachin Baby            9
BJ Rohrer              7
SS Mundhe              7
LA Carseldine          7
RS Gavaskar            6
LPC Silva              6
AM Rahane              6
P Prasanth             6
Y Gnaneswara Rao       6
SA Yadav               6
RA Tripathi            6
B Chipli               6
L Livingstone          6
KS Williamson          6
F du Plessis           6
I Malhotra             6
C Ganapathy            6
H Vihari               6
RA Shaikh              6
SPD Smith              2
SN Khan                2
AC Gilchrist           1
Name: bowler, Length: 405, dtype: int64

In [27]:
df1= pd.DataFrame(data=b.index, columns=['Bowler'])
df2 = pd.DataFrame(data=b.values, columns=['Wickets'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

            Bowler  Wickets
0  Harbhajan Singh     3440

In [28]:
a=deliveries_df.query("batsman_runs=='6'")
b=a["batsman"].value_counts()
b

CH Gayle           327
AB de Villiers     214
MS Dhoni           207
SK Raina           195
RG Sharma          194
V Kohli            191
DA Warner          181
SR Watson          177
KA Pollard         175
YK Pathan          161
RV Uthappa         156
Yuvraj Singh       149
BB McCullum        129
AT Rayudu          120
AD Russell         119
DR Smith           117
V Sehwag           106
KD Karthik         101
S Dhawan            96
RR Pant             94
AC Gilchrist        92
GJ Maxwell          91
M Vijay             91
SV Samson           89
DA Miller           87
KL Rahul            81
NV Ojha             79
JP Duminy           79
SE Marsh            78
MK Pandey           76
                  ...
JJ Bumrah            1
Anureet Singh        1
H Brar               1
Vishnu Vinod         1
M Rawat              1
RR Sarwan            1
SK Trivedi           1
M Kartik             1
BA Bhatt             1
S Gopal              1
Basil Thampi         1
SA Abbott            1
AC Thomas            1
KB Arun Karthik      1
JD Unadkat           1
T Kohli              1
RJ Peterson          1
A Choudhary          1
TS Mills             1
MA Khote             1
AD Mascarenhas       1
MN van Wyk           1
WD Parnell           1
A Nehra              1
RP Singh             1
H Klaasen            1
Niraj Patel          1
SN Thakur            1
S Rana               1
K Upadhyay           1
Name: batsman, Length: 336, dtype: int64

In [29]:
df1= pd.DataFrame(data=b.index, columns=['Batsman'])
df2 = pd.DataFrame(data=b.values, columns=['NO of Sixes'])
d2 = pd.merge(df1, df2, left_index=True, right_index=True)
d2
df3 = d2.iloc[[0]]
df3

    Batsman  NO of Sixes
0  CH Gayle          327